.container {
  position: absolute;
  background: url('/assets/images/login-bg.jpg');
  background-size: cover;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  ion-img {
    z-index: 0;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 4em;
    margin-top: 4em;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h1 {
    color: white;
    opacity: 0.87;
    font-size: 3.6em;
    margin-bottom: 1em;
  }

  .item-native {
    background: unset;
  }

  ion-item {
    margin-bottom: 1em;
    width: 74%;
    background-color: transparent;
    --ion-background-color: transparent;
    --ion-border-color: var(--ion-color-primary);
    --ion-padding: 0;
    --ion-margin: 0;

    ion-input {
      color: white;
      font-size: 1.4em;
    }

    ion-label {
      font-size: 1.4em;
    }
  }

  ion-button {
    width: 74%;
    font-size: 1.1em;
  }

  #btn-sign-in-facebook {
    --background: #3b5998;
  }

  #btn-sign-in-google {
    --background: #db4a39;
  }
}

.container::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  background: linear-gradient(to bottom,
      rgba(0, 0, 0, 0) -43%,
      rgba(0, 0, 0, 0.9) 70%);
}

@media(min-width: 1024px) {
  .container {
    background-position: center;
    padding: 0 32vw;

    ion-item {
      ion-input {
        font-size: 1.05em;
      }

      ion-label {
        font-size: 1.05em;
      }
    }

    ion-button {
      font-size: .85em;
    }
  }
}