<ion-content>
  <div class="container">
    <ion-img src="assets/logo/logo-light.svg"></ion-img>
    <form [formGroup]="formGroup">
      <ion-item
        class="ion-no-padding"
        [appInputError]="formGroup.controls.email"
        [appInputErrorMessages]="errors.email"
      >
        <ion-label position="floating" color="light">Email</ion-label>
        <ion-input
          formControlName="email"
          type="email"
          id="input-email"
        ></ion-input>
      </ion-item>

      <ion-item
        class="ion-no-padding ion-margin-bottom"
        [appInputError]="formGroup.controls.password"
        [appInputErrorMessages]="errors.password"
      >
        <ion-label position="floating" color="light">Hasło</ion-label>
        <ion-input
          formControlName="password"
          type="password"
          id="input-password"
        ></ion-input>
      </ion-item>

      <ion-button
        id="btn-sign-in-email"
        (click)="signInWithEmail()"
        class="ion-margin-vertical"
        type="submit"
      >
        Zaloguj się
      </ion-button>
    </form>
    <ion-button
      [routerLink]="['/sign-up']"
      class="ion-margin-vertical"
      fill="outline"
      color="primary"
    >
      Załóż konto
    </ion-button>
    <ion-button id="btn-sign-in-facebook" (click)="signInWithFacebook()">
      <ion-label>Zaloguj przez </ion-label>
      <ion-icon name="logo-facebook" slot="end" class="ion-margin"></ion-icon>
    </ion-button>
    <ion-button
      id="btn-sign-in-google"
      (click)="signInWithGoogle()"
      class="ion-margin-vertical"
    >
      <ion-label>Zaloguj przez </ion-label>
      <ion-icon name="logo-google" slot="end" class="ion-margin"></ion-icon>
    </ion-button>
  </div>
</ion-content>
