<ion-content>
  <div class="container">
    <ion-segment [(ngModel)]="this.selectedTab">
      <ion-segment-button value="nick">
        <ion-label>Nick</ion-label>
      </ion-segment-button>
      <ion-segment-button
        value="school"
        [disabled]="schoolTabDisabled"
        #schoolTabButton
      >
        <ion-label>Szkoła</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div class="wrapper">
      <div class="nick-tab" *ngIf="selectedTab === 'nick'">
        <div class="title-wrapper">
          <h1>Twoja<br />nazwa użytkownika</h1>
          <ion-icon name="person-circle"></ion-icon>
        </div>
        <form [formGroup]="formGroupInfo">
          <ion-item
            [appInputError]="formGroupInfo.controls.nick"
            [appInputErrorMessages]="errors.nick"
          >
            <ion-label position="floating">Nick</ion-label>
            <ion-input type="text" formControlName="nick"></ion-input>
          </ion-item>

          <ion-button *ngIf="!user" type="submit" expand="full" (click)="next()"
            >Dalej</ion-button
          >

          <ion-button *ngIf="user" type="submit" expand="full" (click)="save()"
            >Zapisz</ion-button
          >
        </form>
      </div>
      <div class="school-tab" *ngIf="selectedTab === 'school'">
        <div class="title-wrapper">
          <h1>Znajdź<br />swoją szkołę</h1>
          <ion-icon name="school"></ion-icon>
        </div>
        <form></form>
      </div>
    </div>
  </div>
</ion-content>
